*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url(./600x900.webp) ;
    background-size: 450px ;
    background-position: 0px 100px ;
    background-position-x: center;
}
.logo{
   color: white;
}
.logo samp{
    color: orange;
    font-size: 40px ;
    position: relative;
    bottom: -15px ;
    left: 90px;
}
.logo2{
    margin-top: 35px ;
    margin-left: 20% ;
    display: flex;
    gap: 20px ;
}
.top{
    width: 100% ;
    height: 120px ;
    transition: .3s;
    border-radius: 0px 0px 50px 50px ;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 9%, rgba(252,70,107,1) 100%);
}
.Home{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50% ;
}
.Home i{
    position: relative;
    top: 10px ;
    left: 15px ;
    font-size: 40px ;
}
.About{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50% ;
}
.About i{
    position: relative;
    top: 10px ;
    left: 15px ;
    font-size: 40px ;
}

.Syujet{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50% ;
}
.Syujet i{
    position: relative;
    top: 10px ;
    left: 15px ;
    font-size: 40px ;
}
.button-box{
    width: 100% ;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 600px ;
    border-radius: 50px 50px 0px 0px  ;
}
.button-box .box{
    width: 300px  ;
    height: 70px ;
    background-color: blue;
    margin: 15px 0px 0px 40px ;
    border-radius: 50px 50px   ;
}
.button-box .box h1{
    color: white;
    position: relative;
    left: 90px ;
    top: 10px;
}
.button-box .box h1 samp{
    position: relative;
    top: 4px;
}
